.anchor-pane {
    -fx-background-image: url('bg3.jpg');
    background-image: url('bg3.jpg'); /* Standard property for compatibility */
    -fx-background-size: cover;
    background-size: cover; /* Standard property for compatibility */
    -fx-background-position: center;
    background-position: center; /* Standard property for compatibility */
}

.LeftPane{
    -fx-background-color: #6da4e7;
    background-color: #6da4e7;
    -fx-background-image: url('cloudicon.png');
    background-image: url('cloudicon.png');
    -fx-background-size: 40%; 
    background-size: 40%; 
    -fx-background-position: center top 100px;
    background-position: center top 100px;
   
    -fx-background-repeat: no-repeat; 
    background-repeat: no-repeat; 
}
.rightpane{
    /*-fx-background-image: url('bg3.jpg');*/
    /*background-image: url('bg3.jpg'); */
}
.mainpane{
    /* -fx-background-image: url('airqual_bg.jpg');
    background-image: url('airqual_bg.jpg');  */
    -fx-background-image: url(HD-wallpaper-abstract-best-black-colourful-new-orange-pics-theme.jpg);
    background-image: url(HD-wallpaper-abstract-best-black-colourful-new-orange-pics-theme.jpg); 
    -fx-background-color:#43709A;
    background-color:#43709A;
    -fx-background-size: 100%; 
    background-size: 100%; 
    -fx-background-repeat: no-repeat; 
    background-repeat: no-repeat; 
}
.daysbg{
  -fx-background-color:#43709A;
  background-color:#43709A;
  -fx-background-radius:50;
  background-radius:50;
}
.main{
    -fx-background-image: url(simeon-muller-Io9VYJorLuc-unsplash.jpg);
    background-image: url(simeon-muller-Io9VYJorLuc-unsplash.jpg); 
    -fx-background-size: 100%; 
    background-size: 100%; 
    -fx-background-repeat: no-repeat; 
    background-repeat: no-repeat; 
   
}
